@import '_mixins.scss',
	'_colors.scss';


@keyframes fadeIn {
	from { opacity:  0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

nav {
	width: 5vw; // min-width makes text stay in bounds
	min-height: 100vh;
	position: fixed;
	background-color: #11303F;
	transition: width 500ms ease;
	&:hover {
		width: 15vw;
		transition: width 500ms ease;
		.listText {
			font-size: 3vh;
			animation: fadeIn 600ms;
			display: block;
		}
	}
	ul {
		@include setFormFlex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style: none;
		li {
			color: white;
			min-height: 6vh;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			// padding: 1%;
			// padding: 15px 5px 15px 10px;
			text-align: center;
			width: 100%;
			@include hovered(#506468, pointer);
			.emoji {
				font-size: 3vh;
			}
			.fade {
				animation: fadeOut 600ms;
			}
			.hidden {
				display: none;
			}
			.listText {
				display: none;
			}
			.visible {
				display: block;
				animation: fadeIn 600ms;
			}
		}
	}
}