@import '_mixins.scss',
	'_colors.scss';

.board {
	margin-left: 5vw;
	box-sizing: border-box;
	@include setFlexAndMinHeight(85);
	background-color: $boardColor;

	form {
		@include setFormFlex;
		width: 20vw;
		flex-direction: column;
		* {
			@include noOutlineInput;
			padding: 1vh;
		}
		textarea {
			resize: none;
		}
	}
}
.hidden {
	display: none;
}
.active {
	flex-wrap: wrap;
}