@import '_mixins.scss',
	'_colors.scss';

.board {
	margin-left: 5vw;
	box-sizing: border-box;
	@include setFlexAndMinHeight(85);
	background-color: $boardColor;
	article {
		padding: 10px 0 0 10px;
		h1 {
			text-align: center;
			padding: 10px;
		}
		form {
			@include setFormFlex;
			width: 20vw;
			flex-direction: column;
			* {
				@include noOutlineInput;
				padding: 1vh;
			}
			textarea {
				resize: none;
			}
		}
	}
}
.hidden {
	display: none;
}
.active {
	display: flex;
}