@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import '_mixins.scss', 
	'_colors.scss';

html, body, *{
	box-sizing: border-box;
	@include resetPaddingMargin;
}
body {
	font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
	background-color: $bodyColor;
}