$red: red;
$hoverRed: firebrick;
$lightGreen: limegreen;
$boardColor: cadetblue;
$blue: blue;
$belize: #2980b9;
$darkBlue: #2c3e50;
$wetDarkBlue: #34495e;
$lightBlue: #3498db;
$yellow: yellow;
$bodyColor: floralwhite;