@import '_mixins.scss',
	'_colors.scss';

header {
	margin-left: 5vw;
	#boardMenu {
		@include setFlexAndMinHeight(10);
		box-sizing: border-box;
		align-items: center;
		background-color: $boardMenuColor;
		color: $bodyColor;
		h1{
			padding-left: 1vw;
			flex: 3;
		}
		form {
			@include setFormFlex;
			flex: 2;
			padding-right: 1vw;
			label {
				margin: auto;
			}
			input, button {
				min-height: 7vh;
				font-family: inherit;
				margin-left: 1vh;
			}
			input {
				padding-left: 1vw;
				margin-left: 0.5vw;
				flex: 2;
				@include setInputStyle(2, black);
				@include validateInput($fireRed, $lightGreen);
			}
			button {
				flex: 1;
			}
		}
	}
}