@import '_mixins.scss', 
	'_colors.scss';

.note {
	margin: 20px 0 20px 0;
	background-color: $note;
	min-height: 150px;
	align-items: center;
	text-align: center;
	button {
		font-family: inherit;
	}
	&:hover {
		cursor: grab;
	}
	* { 
		padding: 10px;
	}
	
	.noteBar {
		background-color: $noteBar;
	}
}