@import '_mixins.scss', 
	'_colors.scss';

.note {
	margin: 20px 0 20px 0;
	background-color: $yellow;
	min-height: 150px;
	// width: 150px;
	// height: 150px; // make this a method to set h and v
	align-items: center;
	text-align: center;
	&:hover {
		cursor: grab;
	}
	* { 
		padding: 10px;
	}
	
	.noteBar {
		background-color: $red;
	}
}