@import '_mixins.scss', 
	'_colors.scss';

.note {
	margin: 20px 0 20px 0;
	background-color: #95a5a6;
	min-height: 150px;
	// width: 150px;
	// height: 150px; // make this a method to set h and v
	align-items: center;
	text-align: center;
	button {
		font-family: inherit;
	}
	&:hover {
		cursor: grab;
	}
	* { 
		padding: 10px;
	}
	
	.noteBar {
		background-color: #bdc3c7;
	}
}